
.back-arrow-container {
  width: 24px;
  height: 24px;
  display: grid;
  overflow: hidden;
  place-items: center;
  transition: transform 0.2s ease;
}

.group:hover .back-arrow-container {
  transform: translateX(-2px);
}

.back-arrow {
  width: 20px;
  height: 12px;
  display: grid;
  overflow: hidden;
}

.back-arrow:before,
.back-arrow:after {
  content: "";
  grid-area: 1/1;
  background: #245C4F;
  clip-path: polygon(100% 4px, 15px 4px, 15px 0, 0 50%, 15px 100%, 15px calc(100% - 4px), 100% calc(100% - 4px));
  animation: backArrow 1s infinite paused;
  transform: translate(calc(0% + var(--s,0%)));
}

.back-arrow:after {
  --s:-100%;
}

.group:hover .back-arrow:before,
.group:hover .back-arrow:after {
  animation-play-state: running;
}

@keyframes backArrow {
  80%,100% {
    transform: translate(calc(100% + var(--s,0%)));
  }
}
